absl-py==0.10.0
altgraph==0.17
api==0.0.7
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
astunparse==1.6.3
beautifulsoup4==4.9.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
Choco==1.0.5
coards==1.0.5
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
datefinder==0.7.1
distlib==0.3.1
Django==3.0.8
docopt==0.6.2
Extract==1.0
ffmpeg-python==0.2.0
filelock==3.0.12
future==0.18.2
gast==0.3.3
gazpacho==1.1
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.33.1
h5py==2.10.0
html5lib==1.1
idna==2.10
inflect==4.1.0
isort==5.5.4
jaraco.itertools==5.0.0
Jinja2==2.11.2
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mechanize==0.4.5
more-itertools==8.5.0
MouseInfo==0.1.3
msedge-selenium-tools==3.141.2
nose==1.3.7
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
pafy==0.5.5
pefile==2019.4.18
phonon==3.1
photon==1.1.8.3
Pillow==7.2.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Dell/Downloads/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
PyAutoGUI==0.9.50
Pydap==3.2.2
PyGetWindow==0.0.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pylint==2.6.0
PyMsgBox==1.0.8
pynput==1.7.1
pyparsing==2.4.7
pyperclip==1.8.0
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python-barcode==0.13.1
python-dateutil==2.8.1
python-vlc==3.0.11115
pyttsx3==2.90
pytube3==9.6.4
PyTweening==1.0.3
pytz==2014.10
pywhatkit==3.2
pywin32==228
pywin32-ctypes==0.2.0
pyzbar==0.1.8
quote==2.0.3
redis==2.10.5
regex==2020.10.15
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
schedule==0.6.0
selenium==3.141.0
six==1.15.0
smtp==0.1.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
style==1.1.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
tld==0.12.2
toml==0.10.1
tornado==4.3
typing-extensions==3.7.4.3
update==0.0.1
urllib3==1.25.10
virtualenv==20.1.0
webencodings==0.5.1
WebOb==1.8.6
Werkzeug==1.0.1
wikipedia==1.4.0
wolframalpha==4.0.0
wrapt==1.12.1
xmltodict==0.12.0
youtube-dl==2020.9.20
